@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#root {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  --sky-blue: #c5ebff;
  --sun-orange: #ef8c59;
  --deep-green: #3c5937;
  --light-green: #c2c290;
  --vanilla: #e1c4a3;
  --off-white: #fcf4eb;
  font-family: 'Space Mono', monospace;
  background: url(./assets/noise.svg);
  background-color: rgba(255, 238, 211, 0.129);
  
}

.mr-button {
  width: 300rem;
  height: 30rem;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {

  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes float-nav {
  0% {
    opacity: 0;
    transform: translateX(100rem)
  }
  50% {
    opacity: .5;
    transform: translateX(20rem)
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app {
 width: 100%;
 font-family: 'Source Code Pro', monospace;
 background-color: #ffffff;
}

nav {
  /*display: flex;
  justify-content: space-evenly;*/
  
}

.home {
  display: flex;
  flex-flow: column nowrap;
  
  width: 100vw;
  height: 100vh;
  

}

.cluster-of-gradients {

}

.pink-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(1.5rem);
  bottom: 15rem;
  left: 10rem;
  z-index: -3;
  background: radial-gradient(circle, rgba(223, 154, 243, 0.995) 0%, rgba(255,255,255,0) 57%);
  opacity: .8;
  
}

.blue-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(1.5rem);
  top: 13rem;
  right: 20rem;
  z-index: -3;
  background: radial-gradient(circle, rgba(81, 203, 255, 0.995) 0%, rgba(255,255,255,0) 67%);
  opacity: .8;
}

.green-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(0.5rem);
  top: 4rem;
  right: 2rem;
  z-index: -3;
  background: radial-gradient(circle, rgba(175, 243, 151, 0.995) 0%, rgba(255,255,255,0) 60%);
  opacity: .8;
}



.orange-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(0.5rem);
  bottom: 14rem;
  right: 12rem;
  z-index: -3;
  background: radial-gradient(circle, rgba(249, 178, 55, 0.995) 0%, rgba(255,255,255,0) 40%);
  opacity: .8;
}

.yellow-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(3rem);
  top: 17rem;
  left: 5rem;
  z-index: -3;
  background: radial-gradient(circle, rgba(106, 109, 250, 0.995) 0%, rgba(255,255,255,0) 52%);
  opacity: .7;
}

.blue-gradient-2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(3.5rem);
  top: 10rem;
  left: 25rem;
  z-index: -3;
  background: radial-gradient(circle, rgba(81, 203, 255, 0.995) 0%, rgba(255,255,255,0) 67%);
  opacity: .8;
}

.title {

  padding: 2rem;
  padding-top: 5rem;
  color: rgba(68, 70, 190, 0.995);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  
  
}



a:hover {
  color:#ef8c59;
}



.intro {
  margin: 1rem;
  width: 50vw;
  height: 20vh;
  border: .1rem solid rgba(125, 120, 215, 0.6);
  
  color:#ffffff;
  padding: 1rem;
  box-shadow: 20px -20px rgba(101, 85, 191, 0.489);
  
}


.home-page-skills {
  margin: 1rem;
  width: 60vw;
  height: 15vh;
  
  color:#010101;
  padding: 1rem;
  border: .1rem solid rgba(125, 120, 215, 0.6);
  box-shadow: 20px -20px rgba(78, 73, 174, 0.581);
  margin-top: 3rem;
  
  
}

.nav-mobile-menu {
 display: none;
}


@media (max-width: 35rem) {
  .mobile-menu {
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;  
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10rem;
    background-color: rgb(255, 235, 218, 1);
    justify-content: flex-start;
    transform: translateX(100rem);
    transition: transform 700ms ease-in-out;


  }

  .nav-links-mobile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding-left: 2rem;
    gap: 6rem;
    font-size: 1.5rem;
    
  }

  .home-link:hover, .about-link:hover, .projects-link:hover {
    color: rgb(234, 83, 154);
    font-weight: 700;
  }

  .nav-expanded {
    transform: translateX(0rem);
    
  }
  .home-link, .about-link, .projects-link {
    opacity: 0;
  }

  .nav-expanded .home-link {
    animation: 700ms float-nav ease-in-out 0ms;
    opacity: 1;
  }

  .nav-expanded .about-link {
    animation: 1s float-nav ease-in-out 0ms;
    opacity: 1;
  }

  .nav-expanded .projects-link {
    animation: 1.3s float-nav ease-in-out 0ms;
    opacity: 1;
  }

 .nav-hamburger {
    transform: translateX(100rem);
  }



  /*hamburger image*/


  .nav-mobile-menu {
    display: flex;
    width: 3rem;
    position: fixed;
    top:0;
    right: 1rem;
    transform: scale(-1);
    filter: invert(37%) sepia(10%) saturate(6688%) hue-rotate(210deg) brightness(103%) contrast(102%);
    
    
  }

  

  .nav-mobile-menu:hover {
    filter: invert(37%) sepia(10%) saturate(6688%) hue-rotate(210deg) brightness(153%) contrast(102%);
    font-weight: 700;
  }

  .close-menu {
    transform: translateX(100rem);
  }




  h1 {
    font-size: .5rem;
  }
}





