@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');



html {
  
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  --periwinkle: #5866aa;
  --yellow-green: #bba531;
  --deep-green: #5b4f20;
  --sky-blue: #dde3e6;
  --bubblegum: #e9b7b2;
  --vanilla: #fbe3c4;
  --off-white: #fbf4eb;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .07rem;
  height: 100vh;
  width: 100vw;
  background: url(./assets/noise.svg);
  background-color: var(--vanilla);
  
  overflow-x: hidden;
}
/* responsive fontsizes */

@media only screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }

}

@media only screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }

}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 24px;
  }
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  --title-font: 4rem;
  --subtitle-font: 2rem;
  --paragraph-font: 1rem;
  overflow-x: hidden;
 
}


/*/////////////////ANIMATIONS\\\\\\\\\\\\\\\\\\\\*/

@keyframes float {
  0% { transform: translateY(0px);}
  100% {
    transform: translateY(100px);}
}

@keyframes float-nav {
  0% {opacity: 0; transform: translateX(100rem);}
  50% {opacity: .5; transform: translateX(20rem);}
  100% {opacity: 1;transform: translateX(0rem);}
}

@keyframes typewriter {
  0% {opacity: 0; border-bottom: 5px solid var(--periwinkle);}
  25% {opacity: .5; color: transparent; border-bottom: .8rem solid var(--periwinkle);}
  50% {color: transparent; opacity: 1;}
  75% {opacity: .5;}
  100% {opacity: 1; border-bottom: 1rem solid var(--periwinkle);
    
  }
}

@keyframes renderText {
  0% {color: transparent;}
  100% {color: transparent; }
}



@keyframes floatDown {
  0% {transform: rotate(0deg) translate(40vw,30vw);}
  25% {transform: rotate(-360deg) translate(10vw, 60vw);}
  50% { transform: rotate(360deg) translate(70vw, 90vw);}
  75% {transform: rotate(-360deg) translate(60vw, 20vw);}
  100% { transform: rotate(0deg) translate(100vw, 60vw);}
}

@keyframes floatUp {
  0% {transform: rotate(0deg) translate(-20vw,-10vw);}
  25% {transform: rotate(-360deg) translate(-10vw, -60vw);}
  50% { transform: rotate(360deg) translate(-70vw, -90vw);}
  75% {transform: rotate(-360deg) translate(-60vw, -20vw);}
  100% { transform: rotate(0deg) translate(-100vw, -60vw);}
}

@keyframes loadPage {
  0% {opacity: 0; transform: translateY(-10rem)}
  25% {opacity: 0; transform: translateY(-5rem)}
  50% {opacity: .40; transform: translateY(0rem)}
  75% {opacity: .75; transform: translateY(5rem)}
  100% {opacity: 1; transform: translateY(0rem)}
}

@keyframes renderContent {
  0% {opacity:0;}
  99% {opacity: 0}
  100% {opacity: 1}}


.app {
 width: 100vw;
 height: 100vh;
 overflow-x: hidden;
}

/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
       /* gradients*/
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/


.pink-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(2.5rem);
  bottom: 20rem;
  right: 5rem;
  z-index: -3;
  background: radial-gradient(circle, var(--periwinkle) 60%, rgba(255,255,255,0) 77%);
  opacity: .3;
  overflow: hidden;
  
}

.blue-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(2.5rem);
  top: 12rem;
  left: 15rem;
  z-index: -3;
  background: radial-gradient(circle, var(--deep-green) 30%, rgba(255,255,255,0) 67%);
  opacity: .3;
  overflow: hidden;
}

.orange-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(4.5rem);
  top: 10rem;
  left: 10rem;
  z-index: -3;
 background: radial-gradient(circle, var(--bubblegum), rgba(255,255,255,0) 90%);
  opacity: .3;
  overflow: hidden;
}

.yellow-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(3rem);
  top: 25rem;
  right: 5rem;
  z-index: -4;
  background: radial-gradient(circle, var(--yellow-green) 40%, rgba(255,255,255,0) 20%);
  opacity: .3;
  overflow: hidden;
}

.green-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(5.5rem);
  bottom: 20rem;
  left: 25rem;
  z-index: -3;
  background: radial-gradient(circle, #b0e4fe 30%, rgba(255,255,255,0) 60%);
  opacity: .3;
  overflow: hidden;
}

/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
            /* flowers */
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/

.flower-svg {
  position: fixed;
  width: 16vw;
  height: 16vw;
  background-image: url(./assets/reshot-icon-flower-6GKQ25MRYP.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  filter: invert(81%) sepia(25%) saturate(2826%) hue-rotate(193deg) brightness(80%) contrast(119%);
  animation: floatDown 500s ease-out 0s infinite;
  opacity: .2;

}

.flower-svg2 {
  position: fixed;
  transform: translate(15vw, 30vw);
  width: 16vw;
  height: 16vw;
  background-image: url(./assets/reshot-icon-flower-6GKQ25MRYP.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  filter: invert(81%) sepia(25%) saturate(2826%) hue-rotate(193deg) brightness(80%) contrast(119%);
  animation: floatUp 500s ease-out 0s infinite;
  opacity: .2;

}






/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
       /* mobile first design*/
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/

nav {
  
  font-family: 'Space Mono', monospace;
}

.nav-mobile-menu {
  display: none;
}

.home, .about-page, .project-page {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap; 
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  overflow-x: hidden;
}


/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
          /* mobile intro*/
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/

.home {
  align-items: center;
  overflow-x: hidden;
}
.home .title {
  animation: renderContent 200ms ease-in, loadPage 700ms ease-in-out 100ms;
  padding: 2rem;
  padding-bottom: 0;
  padding-right: 1rem;
  color: var(--deep-green);
  font-weight: 500;
  font-size: var(--subtitle-font);
  line-height: 3.5rem;
  text-align: left;
  
  
  
}

.title .title-span {
  font-family: 'Space Mono', monospace;
  color: var(--vanilla);
  font-weight: 700;
  font-size: var(--title-font);
  letter-spacing: .01rem;
  line-height: 6.5rem;
  
}


/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
       /* mobile home page*/
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/


.intro {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: renderContent 500ms ease-in, loadPage 700ms ease-in-out 400ms;
  margin: 3rem;
  width: 60vw;
  height: 85vw;
  font-size: 1.35rem;
  color: var(--off-white);
  padding: 2rem;
  background-color: var(--periwinkle);
  border: 3px solid var(--yellow-green);
  box-shadow: 1.5rem 1.5rem var(--bubblegum);
  opacity: 1;
  line-height: 2rem;
}




.triangle {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: renderContent 700ms ease-in,loadPage 700ms ease-in-out 600ms;
  display: flex; 
  justify-content: center; 
  font-size: 1.35rem;
  width: 50vw;
  height: 50vw;
  color: #fff;
  background-color: var(--yellow-green);
  border: .2rem solid var(--bubblegum);
  box-shadow: 1.5rem 1.5rem var(--periwinkle);
  padding: 1.5rem;
  margin: 2rem;
  opacity: 1;
  
}

.home-page-skills {
  display: flex;
  align-items: center;
  animation: renderContent 900ms ease-in, loadPage 700ms ease-in-out 800ms;
  margin: 1rem;
  width: 60vw;
  height: 50vw;
  font-size: 1.35rem;
  aspect-ratio: 1;
  color: white;
  background-color: var(--deep-green);
  border: .2rem solid var(--vanilla);
  box-shadow: 1.5rem 1.5rem var(--bubblegum);
  margin-top: 3rem;
  padding: 1.25rem;
  line-height: 2rem;
  opacity: 1;
  
}




/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
       /* about first design*/
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/

.about-page {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem;
  max-width: 100vw;
  padding-left: 0;
  
}

.about-page title {
  margin-top: 2rem;
}

.about-page span, .about-page h2 {
  font-family: 'Space Mono', 'monospace';
}

.about-page span {
  font-size: 4rem;
  font-weight: 700;
}

.profile-pic {
  box-shadow: 1rem 1rem var(--bubblegum);
  border: .2rem solid var(--periwinkle);
  margin: 3rem;
  width: 40vw;
  height: 40vw;
}

.about-page a {
  text-decoration: none;
  color: var(--bubblegum);
}

.about-page div {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  
  padding: 1rem;
  margin: 3rem;
  color: var(--off-white);
  
  
}

.about-intro {
  display: flex;
  align-items: center;
  background-color: var(--yellow-green);
  box-shadow: 1.5rem 1.5rem var(--deep-green);
  border: .2rem solid var(--bubblegum);
  font-size: 1.35rem;
}



.about-background {
  display: flex;
  align-items: center;
  background-color: var(--periwinkle);
  border: 3px solid var(--sky-blue);
  box-shadow: 2rem 2rem var(--bubblegum);
  font-size: 1.35rem;
  height: 55rem;
  padding: 2rem;
 
}



.about-background:hover {
  
  transition: all 100ms ease-in;
  margin-left: 3.5rem;
  margin-top: 3.3rem;
  transform: rotate(-5deg);
  box-shadow: 1.5rem 1.5rem #c7b399;
  
}

.about-page div:nth-of-type(4) {
  color: var(--deep-green);
  height: 17rem;
  margin-bottom: 5rem;
  padding: 1.5rem;
  font-size: 1.35rem;
  font-weight: 600;
}
.about-work {
  display: flex;
  align-items: center;
  background-color: var(--bubblegum);
  box-shadow: 2rem 2rem var(--deep-green);
  border: 3px solid var(--yellow-green);
  color: var(--deep-green);
  height: 5rem;
}



.about-work:hover {
  
  transition: all 100ms ease-in;
  margin-left: 3.5rem;
  margin-top: 3.3rem;
  transform: rotate(-5deg);
  box-shadow: 1.5rem 1.5rem rgb(142, 142, 126)531;
 
}

.about-skills {
  background-color: var(--deep-green);
  box-shadow: 2rem 2rem var(--periwinkle);
  border: .2rem solid var(--yellow-green);
  padding: 1.5rem;
  font-size: 1.35rem;
}

.about-skills:hover {
  
  transition: all 100ms ease-in;
  margin-left: 3.5rem;
  margin-top: 3.3rem;
  transform: rotate(-5deg);
  box-shadow: 1.5rem 1.5rem #444f85;
  
}

.about-page div:nth-of-type(1) {
  animation: renderContent 500ms ease-in, loadPage 700ms ease-in-out 400ms;
}

.about-page div:nth-of-type(2) {
  animation: renderContent 650ms ease-in, loadPage 700ms ease-in-out 550ms;
}

.about-page div:nth-of-type(3) {
  animation: renderContent 720ms ease-in, loadPage 700ms ease-in-out 680ms;
}

.about-page div:nth-of-type(4) {
  animation: renderContent 780ms ease-in, loadPage 700ms ease-in-out 740ms;
}


/*/////////////////\\\\\\\\\\\\\\\\\\\\*/
       /* projects first design*/
/*/////////////////\\\\\\\\\\\\\\\\\\\\*/

.project-page {
 width: 100vw;
 
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
 
}

.project-page .title {
  animation: renderContent 200ms ease-in, loadPage 700ms ease-in-out 100ms;
  padding: 2rem;
  padding-bottom: 0;
  padding-right: 1rem;
  color: var(--deep-green);
  font-weight: 500;
  font-size: var(--subtitle-font);
  line-height: 3.5rem;
  
  
  
  
}



.projects-container a {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 85vw;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--off-white);
  text-decoration: none;
  
  
  
  
}

.projects-container p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.projects-container h2 {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  
  color: var(--off-white);
}

.projects-container a:nth-of-type(1) {
  animation: renderContent 500ms ease-in, loadPage 700ms ease-in-out 400ms;
}

.projects-container a:nth-of-type(2) {
  animation: renderContent 550ms ease-in, loadPage 700ms ease-in-out 500ms;
}

.projects-container a:nth-of-type(3) {
  animation: renderContent 620ms ease-in, loadPage 700ms ease-in-out 600ms;
}

.projects-container a:nth-of-type(4) {
  animation: renderContent 680ms ease-in, loadPage 700ms ease-in-out 650ms;
}

.projects-container a:nth-of-type(5) {
  animation: renderContent 740ms ease-in, loadPage 700ms ease-in-out 700ms;
}

.projects-container a:nth-of-type(6) {
  animation: renderContent 800ms ease-in, loadPage 700ms ease-in-out 750ms;
}

div img {
  width: 20vw;
  height: 20vw;

}
 



.space-project {
  background-color: var(--deep-green);
  box-shadow: 2rem 2rem var(--bubblegum);
  border: .15rem solid var(--vanilla);
}

.space-project:hover {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem #ba928e;
  
}

.weather-project {
  background-color: var(--bubblegum);
  box-shadow: 2rem 2rem var(--yellow-green);
  border: .15rem  solid var(--periwinkle);
  
}

.weather-project:hover {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem #968427;
  
}

.weather-project h2, .weather-project p {
  color: var(--periwinkle);
}

.tictac-project {
  background-color: var(--yellow-green);
  box-shadow: 2rem 2rem var(--sky-blue);
  border: .15rem  solid var(--bubblegum);
}

.tictac-project:hover  {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem rgb(177, 177, 201)3e6;
  
}

.doodle-project {
  background-color: var(--periwinkle);
  box-shadow: 1.5rem 1.5rem var(--vanilla);
  border: .15rem  solid var(--deep-green);
}

.doodle-project:hover {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem #c7b399;
  
}



.todo-project {
  background-color: var(--bubblegum);
  box-shadow: 2rem 2rem var(--periwinkle);
  border: .15rem  solid var(--yellow-green);
}

.todo-project:hover {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem #444f85;
  
}

.portfolio-project {
  background-color: var(--deep-green);
  box-shadow: 2rem 2rem var(--yellow-green);
  border: .15rem  solid var(--bubblegum);

}

.portfolio-project:hover {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem rgb(142, 142, 126)531;
 
}



.accordian-project {
  background-color: var(--sky-blue);
  box-shadow: 2rem 2rem var(--bubblegum);
  border: .15rem solid var(--periwinkle);
  color: var(--deep-green);
}

.accordian-project:hover {
  
  transition: all 100ms ease-in;
  transform: translate(.5rem, .5rem);
  box-shadow: 1.5rem 1.5rem #ba928e;

}

.accordian-project h2, .accordian-project p, .todo-project h2, .todo-project p {
  color: var(--deep-green);
}



.project-preview {
  width: 30vw;
  height: 30vw;
  
}

/*///////////////////////////////////////////*/
/*///////////////footer\\\\\\\\\\\\\\\\\\\\\\*/
/*///////////////////////////////////////////*/

footer {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  font-family:'Space Mono', monospace;
  background-color:#7a8be088;
  font-weight: 600;
 width: 100vw;
 height: 20rem;
 padding: 3rem;
 font-size: 1.3rem;
  color: var(--deep-green);
  margin-top: 4rem;
  
  
}
.linkedincontainer, .emailcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -4rem;
}


footer a {
  
  color: var(--deep-green);
  text-decoration: none;
  font-size: 1.3rem;
}

footer a:hover {
  color: var(--off-white);
  text-decoration: none;
}


 .linkedin {
  
  background-image: url(./assets/linkedin-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 7rem;
  filter: invert(41%) sepia(83%) saturate(289%) hue-rotate(191deg) brightness(86%) contrast(97%);
  
  
  
}

.linkedin:hover {
  cursor: pointer;
  filter: invert(41%) sepia(83%) saturate(289%) hue-rotate(191deg) brightness(56%) contrast(97%);
}
.emailcontainer {
  
  margin-right: 3rem;
}

.email {
  background-image: url(./assets/email-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 8rem;
  filter: invert(64%) sepia(83%) saturate(386%) hue-rotate(11deg) brightness(100%) contrast(84%);
  margin-right: 6rem;

}

.email:hover {
  filter: invert(64%) sepia(83%) saturate(386%) hue-rotate(11deg) brightness(128%) contrast(84%);
}

/*////////////////////////////////////////////*/
/*/////////animation TYPEWRITER effect\\\\\\\\*/
/*///////////////////////////////////////////*/

.f, .p-projects, .a-about {
  color: transparent;
  animation: renderText 450ms, typewriter 200ms linear 10ms 1;
  color: var(--off-white);
}

.r, .r-projects, .b-about {
  color: transparent;
  animation: renderText 690ms, typewriter 200ms linear 450ms 1;
  color: var(--off-white);
}


.o, .o-projects, .o-about {
  color: transparent;
  animation: renderText 1100ms, typewriter 200ms linear 750ms 1;
  color: var(--off-white);
}

.n, .j-projects, .u-about {
  color: transparent;
  animation: renderText 1500ms, typewriter 200ms linear 1250ms 1;
  color: var(--off-white);
  
}

.t, .e-projects, .t-about {
  color: transparent;
  animation: renderText 1900ms, typewriter 200ms linear 1600ms 1;
  color: var(--off-white);
}

.e, .c-projects, .space-about {
  color: transparent;
  animation: renderText 2400ms, typewriter 200ms linear 2250ms 1;
  color: var(--off-white);
}

.n2, .t-projects, .m-about {
  color: transparent;
  animation: renderText 2800ms, typewriter 200ms linear 2500ms 1;
  color: var(--off-white);
}

.d, .s-projects, .e-about {
  color: transparent;
  animation: renderText 3100ms, typewriter 200ms linear 2900ms 1;
  color: var(--off-white);
}

.space {
  color: transparent;
  animation: typewriter 440ms ease-out 3500ms 1, renderText var(--off-white);
  
  
}

.d2 {
  color: transparent;
  animation: typewriter 440ms ease-out 3900ms 1, renderText 4150ms;
  color: var(--off-white);
  
}

.e2 {
  color: transparent;
  animation: typewriter 300ms ease-out 4100ms 1, renderText 4600ms;
  color: var(--off-white);
  
}

.v {
  color: transparent;
  animation: typewriter 400ms ease-out 4500ms 1, renderText 5150ms;
  color: var(--off-white);
  
}

.e3 {
  color: transparent;
  animation: typewriter 410ms ease-out 5110ms 1, renderText 5610ms;
  color: var(--off-white);
  
}

.l {
  color: transparent;
  animation: typewriter 400ms ease-out 5600ms 1, renderText 5960ms;
  color:var(--off-white);
  
}

.o2 {
  color: transparent;
  animation: typewriter 300ms ease-out 5900ms 1, renderText 6500ms;
  color: var(--off-white);
  
}

.p {
  color: transparent;
  animation: typewriter 350ms ease-out 6400ms 1, renderText 7030ms;
  color: var(--off-white);
  
}

.e4 {
  color: transparent;
  animation: renderText 7100ms, typewriter 420ms ease-out 8000ms 1;
  color: var(--off-white);
  
}

.r2 {
  color: transparent;
  animation: typewriter 350ms ease-out 6900ms 1, renderText 9000ms;
  color: var(--off-white);
  
}
/*///////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/
/*////////////end of typewriter section\\\\\\\\\\\*/
/*//////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/


/*///////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/
/*///////////////////mobile NAVBAR\\\\\\\\\\\\\\\\\*/
/*//////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/



@media (max-width: 770px) {

 
  .mobile-menu {
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;  
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10rem;
    background-color: rgba(239, 218, 255, 0.552);
    backdrop-filter: blur(1rem);
    justify-content: flex-start;
    transform: translateX(100rem);
    transition: transform 700ms ease-in-out;
    overflow-x: hidden;

  }

  .nav-links-mobile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding-left: 2rem;
    gap: 6rem;
    font-size: var(--subtitle-font);
    font-weight: 700;
   
    
    
  }

  .nav-links-mobile a {
    padding: 1rem;
    text-decoration: none;
  }

  

  .home-link {
    
    color: var(--deep-green);
  }

  .about-link {
    
    color: var(--periwinkle);
  }

  .projects-link {
   
    color: #673531;
  }

  .home-link:hover, .about-link:hover, .projects-link:hover {
    transition: all 200ms ease-in-out;
    background-color: var(--deep-green);
    border: 3px solid var(--bubblegum);
    box-shadow: 4px 4px #ac827e;
    transform: rotate(10deg);
    color: var(--off-white);
    
    
  }
  

  .home-link:focus, .about-link:focus, .projects-link:focus {
    transition: all 200ms ease-in-out;
    background-color: var(--deep-green);
    border: 3px solid var(--bubblegum);
    box-shadow: 4px 4px #ac827e;
    transform: none;
    color: var(--off-white);
    
    
  }

  .about-link:hover, .about-link:focus {
    background-color: var(--periwinkle);
  }

  .projects-link:hover, .projects-link:focus {
    background-color: var(--bubblegum);
    border: 3px solid #906d6a;
  }

  .home-link:active, .about-link:active, .projects-link:active {
    transform: rotate(-30deg);
  }

  .nav-expanded {
    transform: translateX(0rem);
    
  }
  .home-link, .about-link, .projects-link {
    
    opacity: 0;
  }

  .nav-expanded .home-link {
    animation: 700ms float-nav ease-in-out 0ms;
    opacity: 1;
  }

  .nav-expanded .about-link {
    animation: 1s float-nav ease-in-out 0ms;
    opacity: 1;
  }

  .nav-expanded .projects-link {
    animation: 1.3s float-nav ease-in-out 0ms;
    opacity: 1;
  }

 



  /*hamburger image*/


  .nav-mobile-menu {
    display: flex;
    width: 5rem;
    height: 5rem;
    position: fixed;
    top:2rem;
    right: 2rem;
    transform: scale(-1);
    filter: invert(100%) sepia(00%) saturate(150%) hue-rotate(241deg) brightness(103%) contrast(103%);
    background-color: rgb(87, 56, 88);
    padding-top: .5rem;
    box-shadow: -.75rem -.75rem #4e8085;
    
  }

  

  .nav-mobile-menu:hover {
    background-color: #4e8085;
    box-shadow: -.55rem -.55rem #743c3c;
    font-weight: 700;
  }

  .close-menu {
    transform: translateX(100rem);
  } 

  footer, footer a{
    font-size: 1.5rem;

  }

 .linkedin, .email {
  margin-right: 4.3rem;
 }
  
}

/*///////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/
/*////////////////TABLET STYLING\\\\\\\\\\\\\\\\\\\*/
/*//////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/


@media (min-width: 771px) and (max-width: 1023px) {
  .nav-bar-desktop {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding-top: 3rem;
    letter-spacing: .5rem;

    
    font-weight: 700;
    
 }

 .nav-links-mobile a {
   padding: 1rem;
   text-decoration: none;
 }

 .home-link {
   text-decoration: none;
   color: var(--deep-green);
 }

 .about-link {
   text-decoration: none;
   color: var(--periwinkle);
 }

 .projects-link {
   text-decoration: none;
   color: #ac827e;
 }

 .home-link:hover, .about-link:hover, .projects-link:hover {
   transition: all 200ms ease-in-out;
   background-color: var(--deep-green);
   border: 3px solid var(--bubblegum);
   box-shadow: 4px 4px #ac827e;
   transform: rotate(10deg);
   color: var(--off-white);
   
   
 }
 

 .home-link:focus, .about-link:focus, .projects-link:focus {
   transition: all 200ms ease-in-out;
   background-color: var(--deep-green);
   border: 3px solid var(--bubblegum);
   box-shadow: 4px 4px #ac827e;
   transform: none;
   color: var(--off-white);
   
   
 }

 

 .about-link:hover, .about-link:focus {
   background-color: var(--periwinkle);
 }

 .projects-link:hover, .projects-link:focus {
   background-color: var(--bubblegum);
   border: 3px solid #906d6a;
 }

 .home-link:active, .about-link:active, .projects-link:active {
   transform: rotate(-30deg);
 }


}


/*///////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/
/*////////////////DESKTOP STYLING\\\\\\\\\\\\\\\\\\*/
/*//////////////////////////\\\\\\\\\\\\\\\\\\\\\\*/

@media (min-width: 1024px) {
 
  .linkedin {
    width: 3rem;
  }

  .email {
    width: 5rem;
    transform: translate(2rem, 1rem);
  }

  p {
    font-size: .55rem;
  }

  .nav-component {
    width: 100vw;
  }
  .nav-bar-desktop {
     display: flex;
     justify-content: space-around;
     font-size: 1.2rem;
     padding-top: .5rem;
     margin-top: .5rem;
     letter-spacing: .25rem;
     font-weight: 700;
     
  }

  .nav-links-mobile a {
    padding: .5rem;
    text-decoration: none;

  }

  .home-link {
    text-decoration: none;
    color: var(--deep-green);
  }

  .about-link {
    text-decoration: none;
    color: var(--periwinkle);
  }

  .projects-link {
    text-decoration: none;
    color: #ac827e;
  }

  .home-link:hover, .about-link:hover, .projects-link:hover {
    transition: all 200ms ease-in-out;
    background-color: var(--deep-green);
    border: 3px solid var(--bubblegum);
    box-shadow: 4px 4px #ac827e;
    transform: rotate(10deg);
    color: var(--off-white);
    
    
  }
  

  .home-link:focus, .about-link:focus, .projects-link:focus {
    transition: all 200ms ease-in-out;
    background-color: var(--deep-green);
    border: 3px solid var(--bubblegum);
    box-shadow: 4px 4px #ac827e;
    transform: none;
    color: var(--off-white);
    
    
  }

  

  .about-link:hover, .about-link:focus {
    background-color: var(--periwinkle);
  }

  .projects-link:hover, .projects-link:focus {
    background-color: var(--bubblegum);
    border: 3px solid #906d6a;
  }

  .home-link:active, .about-link:active, .projects-link:active {
    transform: rotate(-30deg);
  }

  .title {
    letter-spacing: .2rem;
    line-height: 1rem;
    font-size: 1.5rem;
    
  }

  

 

  .home span {
    font-size: 3.5rem;
    
  }

  .home {
    justify-content: space-between;
    flex-flow: row wrap;
    
    

  }

  .home .title {
    text-align: left;
  }

  .intro, .triangle, .home-page-skills {
    font-size: .75rem;
    line-height: 1.2rem;
    font-weight: 500;
  }

  .intro {
    margin-top: 2.5rem;
    margin-left: 3rem;
    
    width: 40vw;
    height: 20vw;
    text-align: center;
    
  }


  .triangle {
    max-width: 20vw;
    max-height: 10vw;
    padding: 3rem;
    align-self: flex-start;
  
    
    
  }

  

  .home-page-skills {
   margin-right: 10rem;
    
    max-width: 20vw;
    max-height: 20vw;
    color: var(--off-white);
    padding: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }


  .about-page {
  margin: 0rem;
  padding-left: 0;
  margin-right: 2rem;
  
  }

  .about-page span {
    font-size: 4rem;
    
    
  }

  .about-page .title {
    margin-top: 8rem;
    margin-right: 8rem;
    
  }

  .profile-pic {
    width: 10rem;
    height: 10rem;
  }

  

  .about-page div {
    max-width: 20rem;
    height: 17.5rem;
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 500;
  }


  .about-page div:nth-of-type(1) {
    height: 5.5rem;
    margin-left: 4rem;
  }


  .about-intro {
    height: 7.5rem;
  }

  .about-page div:nth-of-type(2) {
    
    margin-right: 2rem;
  }

  .about-page div:nth-of-type(3) {
    margin-right: 30rem;
    transform: translateY(-10rem);
  }

  .about-page div:nth-of-type(4) {
    height: 10rem;
    margin: 0;
    margin-top: -20rem;
    margin-left: 32rem;
  }
  .project-page {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .project-page span {
    font-size: 3.5rem;
  }


  .projects-container a {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    padding: 1rem;
    margin: 3rem;
    color: var(--off-white);
    text-decoration: none;
    
    
    
    
  }
  
  .projects-container p {
    padding-left: 1rem;
    width: 20vw;
    font-size: .5rem;
    line-height: .7rem;
  }
  
  .projects-container h2 {
    text-decoration: none;
    font-size: .8rem;
    margin-left: 3vw;
    margin-right: 3vw;
    font-weight: 700;
    color: var(--off-white);
  }

  
  .project-preview {
    width: 10vw;
    height: 10vw;
    
  }
  

  .blue-gradient {
    filter: blur(2.5rem);
    top: 6rem;
    left: 30rem;
    opacity: .3;
    overflow: hidden;
  }
  
  .orange-gradient {
    filter: blur(4.5rem);
    top: 40rem;
    left: 55rem;
    opacity: .3;
    overflow: hidden;
  }
  
  .yellow-gradient {
    filter: blur(6rem);
    top: 20rem;
    right: 35rem;
    opacity: .3;
    overflow: hidden;
  }
  
  .green-gradient {
    filter: blur(5.5rem);
    bottom: 30rem;
    left: 45rem;
    opacity: .3;
    overflow: hidden;
  }
  
  .blue-gradient-2 {
    filter: blur(6.5rem);
    bottom: 45rem;
    left: 37rem;
    opacity: .3;
    overflow: hidden;
  }
}
